#disable_html_escaping()

AJS.$(function () {
    AJS.toInit(function() {
        if (!AJS.$("meta[name=sdchatbot-plugin-key]").length) {
            #if ($isDebugMode)
                AJS.$('head').append('<base href="$servletBaseUrl">');
            #end

            #foreach ($headerElement in $headerHtmlElements)
                AJS.$('head').prepend('$unescaper.html($headerElement)');
            #end

            AJS.$('body').prepend('<element-sdchatbot-alert>');
            AJS.$('body').prepend('<element-sdchatbot-message-dialog appendTo="body">');
            AJS.$('body').prepend('<element-sdchatbot-processing appendTo="body">');
            AJS.$('body').prepend('<element-sdchatbot-ui title="$agent.getDisplayName()" description="$agent.getDescription()" icon-url="$agent.getAvatarUri()" width="$dlgWidthInPx" height="$dlgHeightInPx" enable-theme-compatibility="$agentDTO.getEnableThemeCompatibility()">');
        }
    });
});
