<html>
<head>
    <title>
        $i18n.getText("sdchatbot.plugin.name")
    </title>

    #if ($isAdminPath) 
        <meta name="decorator" content="atl.admin"/>
    #else
        <meta name="decorator" content="atl.general"/>
    #end

    <meta name="sdchatbot-plugin-key" content="$pluginKey">
    <meta name="sdchatbot-plugin-name" content="$pluginName">
    <meta name="sdchatbot-plugin-version" content="$pluginVersion">
    <meta name="sdchatbot-plugin-build-type" content="$pluginBuildType">
    <meta name="sdchatbot-plugin-date" content="$pluginDate">
    <meta name="sdchatbot-plugin-vendor" content="$pluginVendor">
    <meta name="sdchatbot-plugin-vendor-url" content="$pluginVendorUrl">

    ${webResourceManager.requireResourcesForContext("$pluginResourceContextKey")}
</head>
<body>
    <div class="sdchatbot-main">
        <div class="sdchatbot-main-header">
            <h1>$i18n.getText("sdchatbot.plugin.name")</h1>
        </div>

        #if (${hasErrorMessages})
            <div class="sdchatbot-main-content">
                <div class="aui-message error">
                    <span class="aui-icon icon-error"></span>
                    #foreach($message in $errorMessages)
                        <p>$message</p>
                    #end
                </div>
            </div>
        #end
    </div>
</body>
</html>
